img{
    border: 2px solid silver ;
    width: 400px;
    height: 400px;
    float: center;

}
nav ul {
    list-style: none;
}


h1 {
    display: block;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 23px;
    width: 400px;
}
body {
    background: silver;
    font: 24px helvetica;
}
#main{
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
}
#main article {
    margin: 4px;
    padding: 5px;
    border: 1px solid blueviolet;
    border-radius: 7px;
    background: burlywood;
    flex: 3 1 60%;
    order: 2;
}
.play {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 2px solid black;
    border-top: 22px solid red;
    padding: 2px;
}
#main nav{
    margin: 4px;
    padding: 5px;
    border: 1px solid mediumorchid;
    border-radius: 7px;
    background: moccasin;
    flex: 1 6 20%;
    order: 1;

}
#main .cuadro p{
    width: 300px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 50px;
    float: center;
    text-overflow: initial;

}
h2 {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: silver;
    min-height: 30px;
    height: 40px;

}
#main aside{
    margin: 4px;
    padding: 5px;
    border: 1px solid ;
    border-radius: 7px;
    background: burlywood;
    flex: 1 6 20%;
    order: 3;
}
header, footer{
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    border: 1px solid black;
    border-radius: 7px;
    background: burlywood;
}